.bottom-content {
  div {
    .insured{
      font-size: 12px;
      margin-top: -16px;
      margin-left: 6px;
      letter-spacing: 5px;
      color: var(--ion-color-dark);
    }
  }
}

.footer-md:before{
  background-image: none;
}