<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigateToHome()" [text]="" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>

    <ion-title color="white" class="ion-text-center">Mi perfil</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <img src="{{ userInfo.image_url }}" alt="Foto de perfil" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ios">
  <ion-list class="ion-no-padding">
    <div class="profile-photo">
      <img src="{{userInfo.image_url}}" class="ion-padding-vertical" />
    </div>
    <ion-list-header class="ion-no-padding" color="light">
      Información personal
    </ion-list-header>
    <ion-item class="ion-no-padding">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label class="ion-padding-start label-name">
        Empresa
      </ion-label>
      <ion-label class="margin-start">{{ userInfo.business }}</ion-label>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label class="ion-padding-start label-name">
        RUC
      </ion-label>
      <ion-label class="margin-start">{{ userInfo.business_ruc }}</ion-label>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-icon name="mail"></ion-icon>
      <ion-label class="ion-padding-start label-name">
        Email
      </ion-label>
      <ion-label class="margin-start">{{ userInfo.email }}</ion-label>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-icon name="call"></ion-icon>
      <ion-label class="ion-padding-start label-name">
        Teléfono
      </ion-label>
      <ion-label class="margin-start">{{ userInfo.phone }}</ion-label>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-icon name="pin"></ion-icon>
      <ion-label class="ion-padding-start label-name">
        Dirección
      </ion-label>
      <ion-label class="margin-start">{{ userInfo.address }}</ion-label>
    </ion-item>

  </ion-list>
  <ion-list class="ion-margin-top">
    <ion-list-header class="ion-no-padding" color="light">
      Privacidad
    </ion-list-header>
    <ion-item class="ion-no-padding" (click)="downloadPdf('../../../assets/docs/terms_conditions.pdf')">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        Términos y condiciones
      </ion-label>
    </ion-item>
    <ion-item class="ion-no-padding" (click)="downloadPdf('../../../assets/docs/privacy_politics.pdf')">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        Política de privacidad
      </ion-label>
    </ion-item>
    <ion-item class="ion-no-padding" (click)="logOut()">
      <ion-icon name="power-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        Cerrar sesión
      </ion-label>
    </ion-item>
  </ion-list>
  <app-footer></app-footer>
</ion-content>

<ion-footer></ion-footer>
