ion-header {
  ion-toolbar {
    --background: var(--ion-color-success);
    ion-title {
      color: var(--ion-color-white);
      font-weight: 600;
    }
    ion-buttons {
      ion-back-button {
        color: var(--ion-color-white);
      }
      ion-back-button:hover {
        --color: var(--ion-color-light);
      }
      ion-avatar {
        padding: 12px;
      }
    }
  }
}

ion-content {
  --background: var(--ion-color-light);
  ion-segment-button {
    font-size: 12px;
  }

  .segment-code {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .scan {
      ion-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 150px;
        ion-button {
          width: 90%;
          margin: auto;
          font-weight: 600;
        }
      }
    }
    .code-input {
      ion-card {
        ion-item {
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          --background: white;
          ion-input {
            background-color: var(--ion-color-medium-input-bg);
          }
        }
        ion-card-content {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
