<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [icon]="buttonIcon"
        defaultHref="/home"
        text=""
      ></ion-back-button>
    </ion-buttons>

    <ion-title color="white" class="ion-text-center">
      Nombre
    </ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <img src="src" alt="User avatar" [routerLink]="['/profile']" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment
    color="success"
    value="qrcode"
    class="ion-padding"
    [(ngModel)]="segment"
    mode="md"
  >
    <ion-segment-button value="qrcode">
      <ion-label>DETALLE</ion-label>
    </ion-segment-button>
    <ion-segment-button value="code">
      <ion-label>PDF</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="ion-padding-horizontal segment-code" [ngSwitch]="segment">
    <div class="scan" *ngSwitchCase="'qrcode'">
      <ion-card>
        <ion-button (click)="scanQR()" color="success">
          Escanea el CÓDIGO QR aquí
        </ion-button>
      </ion-card>
    </div>
    <div *ngSwitchCase="'code'" class="code-input">
      <ion-card>
        <ion-item lines="none">
          <ion-input
            placeholder="Ingresa el código QR del SCTR"
            (ionChange)="changeInput($event)"
          ></ion-input>
        </ion-item>
        <ion-card-content>
          <ion-button color="success" (click)="checkCode()"
            >VALIDAR CÓDIGO</ion-button
          >
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
