<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon size="large" name="close" (click)="onClick()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-text>
    <h2>Registro de visitas</h2>
  </ion-text>

  <ion-card *ngFor="let visit of visits">
    <ion-card-header>
      <ion-card-title>{{ visit.from.date }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Entrada: <span>{{ visit.from.hour }}</span> Salida:
      <span>{{ visit.to.hour }}</span>
      <p>* {{ visit.body }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
