<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="logo-container ion-margin-bottom" color="light">
      <img src="../../../assets/imgs/logo_insured.png" alt="Logo Insured" />
      <p class="ion-no-margin insured">INSURED</p>
    </div>

    <div id="info-container" class="ion-margin-top info-container">
    </div>
  </div>
</ion-content>